
<section>

  <div class="container">

    <div class="row">

        <div class="col-sm">

          <h2 class="fs-20 text-center-xs">Pourquoi Sehra?</h2>

          <p>Parce que votre créativité représente l'essence de votre succès.</p>

          <ul class="list-unstyled login-features">
            <li>
              <i class="glyphicon glyphicon-road"></i> <strong>Lorem ipsum</strong> dolor sit amet.
            </li>
            <li>
              <i class="glyphicon glyphicon-cog"></i> <strong>Sed ut perspiciatis</strong> unde omnis iste.
            </li>
            <li>
              <i class="glyphicon glyphicon-tint"></i> <strong>Et harum quidem</strong> rerum facilis est et expedita distinctio. 
            </li>
            <li>
              <i class="glyphicon glyphicon-screenshot"></i> <strong>Nam libero</strong> tempore, cum soluta nobis.
            </li>
            <li>
              <i class="glyphicon glyphicon-fire"></i> <strong>Est eligendi</strong> voluptatem accusantium.
            </li>
          </ul>

        </div>
            <div class="col-sm">

        <div class="box-static box-border-top p-30">

            <div class="box-title mb-30">
              <h2 class="fs-20">Creation de Compte</h2>
            </div>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                  <div class="field">
                      <%= f.text_field :first_name, autofocus: true, placeholder: "Prénom", class:"form-control form-control-lg" %>
                  </div>

                  <div class="field">
                    <%= f.text_field :last_name, autofocus: true, placeholder: "Nom", class:"form-control form-control-lg" %>
                  </div>

                  <div class="field">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sehra@email.com", class:"form-control form-control-lg" %>
                  </div>

                  <div class="field">
                    <br />
                    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Mot de passe", class:"form-control form-control-lg" %>
                  </div>

                  <div class="field">
                    <br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmation", class:"form-control form-control-lg" %>
                  </div>

                  <div style="margin: 25px">
                  <div style="text-align: center">
                    <div class="actions">
                      <%= f.submit "Valider", class: "btn btn-success btn-lg" %>
                    </div>
                  </div>
                  </div>

              <% end %>  

            </div>
            
        </div>  

      </div>

  </div>

</section>


