      <section style="background:url('demo_files/images/wall2.jpg')">
      
        <div class="display-table">
          <div class="display-table-cell vertical-align-middle">
            
            <div class="container">
              
              <div class="row">

                <div class="col-12 col-sm-5 col-md-5 col-lg-4 order-md-2 order-lg-2 order-sm-2">

                  <!-- ALERT -->
                  <!--
                  <div class="alert alert-mini alert-danger mb-30">
                    <strong>Oh snap!</strong> Login Incorrect!
                  </div>
                  -->
                  <!-- /ALERT -->

                  <!-- register form -->
                  <form class="m-0 sky-form boxed" action="#" method="post">
                    <header>
                      <i class="fa fa-users"></i> S'enregistrer
                      </header>

                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                    <fieldset class="m-0">          
                      <label class="input">
                        <i class="ico-append fa fa-envelope"></i>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
                        <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                      </label>
                    
                      <label class="input">
                        <i class="ico-append fa fa-lock"></i>
                        <%= f.password_field :password, autocomplete: "new-password" %>
                        <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                      </label>
                    
                      <label class="input">
                        <i class="ico-append fa fa-lock"></i>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                      </label>

                      <div class="row">
                        <div class="col-md-6">
                          <label class="input">
                        <%= f.text_field :first_name, autofocus: true %>
                          </label>
                        </div>
                        <div class="col col-md-6">
                          <label class="input">
                        <%= f.text_field :last_name, autofocus: true %>
                          </label>
                        </div>
                      </div>
                      
                      <div class="mt-20">
                        <label class="checkbox m-0"><input class="checked-agree" type="checkbox" name="checkbox"><i></i>J'accepte <a href="#" data-toggle="modal" data-target="#termsModal">Terms of Service</a></label>
                        <label class="checkbox m-0"><input type="checkbox" name="checkbox"><i></i>je veux recevoir la newsletter</label>
                      </div>
                    </fieldset>

                    <div class="row mb-20">
                      <div class="col-md-12">
                        <%= f.submit "Sign up" %>
                        <% end %>
                      </div>
                    </div>

                  </form>
                  <!-- /register form -->

                </div>

                <div class="col-12 col-md-7 col-sm-7 col-lg-8 order-md-1 order-lg-1 order-sm-1">


                  <h2 class="fs-20 text-center-xs">Pourquoi Sehra?</h2>

                  <p>Parce que votre créativité représente l'essence de votre succès.</p>

                  <ul class="list-unstyled login-features">
                    <li>
                      <i class="glyphicon glyphicon-road"></i> <strong>Lorem ipsum</strong> dolor sit amet.
                    </li>
                    <li>
                      <i class="glyphicon glyphicon-cog"></i> <strong>Sed ut perspiciatis</strong> unde omnis iste.
                    </li>
                    <li>
                      <i class="glyphicon glyphicon-tint"></i> <strong>Et harum quidem</strong> rerum facilis est et expedita distinctio. 
                    </li>
                    <li>
                      <i class="glyphicon glyphicon-screenshot"></i> <strong>Nam libero</strong> tempore, cum soluta nobis.
                    </li>
                    <li>
                      <i class="glyphicon glyphicon-fire"></i> <strong>Est eligendi</strong> voluptatem accusantium.
                    </li>
                  </ul>

                </div>

              </div>

            </div>

          </div>
        </div>

      </section>
<!--
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %></div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %></div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
-->
<%= render "devise/shared/links" %>
