
<ul>
<% if user_signed_in? %>
<li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
<li> <%= link_to "Edit Account", edit_user_registration_path %>
<li> Vous êtes bien connecté sous le nom de : <%= current_user.first_name %>. </li>

<% else %>
<li> <%= link_to "Log in", new_user_session_path %> </li>
<li> <%= link_to "Sign up", new_user_registration_path %> </li>

<% end %> 
</ul>

<%= link_to "Cities", cities_index_path %>
<br><br>
<%= link_to "Events", events_index_path %>
<br><br>

<% @cities.each do |city| %>

    <%= link_to cities_show_path(id: city) do %>
        <%= city.name %>
        <br>
    <% end %>
            Events: 
            <br>
            <% city.place.events.each do |event| %>
                <%= link_to events_show_path(id: event) do %>
                    <%= image_tag(event.image1, size: "50") %>
                <% end %>
            <% end %>

        <br><br><br>

<% end %>
