
<ul>
<% if user_signed_in? %>
<li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
<li> Hello, <%= current_user.first_name %> ! </li>

<% else %>
<li> <%= link_to "Log in", new_user_session_path %> </li>
<li> <%= link_to "Sign up", new_user_registration_path %> </li>

<% end %> 
</ul>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "Cities", cities_index_path %>
<br><br>
<%= link_to "Events", events_index_path %>
<br><br>

    <%= link_to cities_show_path(id: city) do %>
        <%= city.name %>
        <br>
    <% end %>

            Events: 
            <% city.place.events.each do |event| %>
            <br>
                <%= link_to events_show_path(id: event) do %>
                    <%= image_tag(event.image1, size: "50") %>
                    <br>
                <% end %>
            <% end %>

        <br><br><br>

<% end %>
