
			<!-- REVOLUTION SLIDER -->

			<section id="slider" class="slider fullwidthbanner-container roundedcorners">

				<div class="fullscreenbanner" data-navigationStyle="">
					<ul class="hide">

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
							<%= image_tag("cover1.png") %>

							<div class="tp-dottedoverlay twoxtwo"><!-- dotted overlay --></div>
							<div class="overlay dark-3"><!-- dark overlay [1 to 9 opacity] --></div>

							<div class="tp-caption customin ltl tp-resizeme text_white"
								data-x="center"
								data-y="180"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1000"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								<span class="fw-300">LA VIE DANS LES ESPACES ABANDONNÉS</span>
							</div>

							<div class="tp-caption customin ltl tp-resizeme large_bold_white"
								data-x="center"
								data-y="230"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="600"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: white; line-height: 1.2; width: 750px; max-width: 750px; white-space: normal; font-size:70px; font-weight:bold; text-align:center;">
								SEHRA
							</div>

							<div class="tp-caption customin ltl tp-resizeme small_light_white"
								data-x="center"
								data-y="350"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1400"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center; font-size:18px;">
								La première plateforme des espaces communautaires éphémères.
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="438"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
									<%if user_signed_in? %>
											<%= link_to "PROPOSER UN PROJET", new_event_path, class: "btn btn-default btn-lg"%>
										<%else%>
											<%= link_to "PROPOSER UN PROJET", new_user_session_path, class: "btn btn-default btn-lg"%>
										<%end%>
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

							<img src="" data-lazyload="https://i.pinimg.com/originals/a0/1e/b5/a01eb52d88f4855203ac6ca67c254831.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="tp-caption mediumlarge_light_white lfb tp-resizeme"
								data-x="left" data-hoffset="70"
								data-y="293" 
								data-speed="1000" 
								data-start="1400" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">+ Expositions, Concerts, Coworking, Hackatons, Food Fests, Street Art</span>
							</div>

							<div class="tp-caption mediumlarge_light_white lft tp-resizeme" 
								data-x="left" data-hoffset="70"
								data-y="235" 
								data-speed="1000" 
								data-start="1200" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">+ Redonner vie aux immeubles, friches et entrepôts abandonnés</span>
							</div>
							
							<div class="tp-caption block_black sfl tp-resizeme"
								data-x="70" 
								data-y="376" 
								data-speed="750" 
								data-start="1900" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">Artistes, Entrepreneurs, Militants : Proposez un projet à la communauté</span>
							</div>

							<div class="tp-caption block_green sfr tp-resizeme"
								data-x="70" 
								data-y="410" 
								data-speed="750" 
								data-start="2200" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">Citoyens : Votez pour les meilleurs projets.</span>
							</div>

						</li>

						<!-- SLIDE -->
						<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

							<img src="" data-lazyload="demo_files/images/video/back.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption tp-fade fadeout fullscreenvideo"
								data-x="0"
								data-y="0"
								data-speed="1000"
								data-start="1100"
								data-easing="Power4.easeOut"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1500"
								data-endeasing="Power4.easeIn"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false"
								data-nextslideatend="true"
								data-volume="mute" 
								data-forceCover="1" 
								data-aspectratio="16:9" 
								data-forcerewind="on" style="z-index: 2;">

								<div class="tp-dottedoverlay twoxtwo"><!-- dotted overlay --></div>

								<video class="" preload="none" width="100%" height="100%" poster="">
									<source src="http://podsync.net/download/h4zsQOwYt/xqcHGZWNxPQ.mp4" type="video/webm" />
									<source src="http://podsync.net/download/h4zsQOwYt/xqcHGZWNxPQ.mp4" type="video/mp4" />
								</video>

							</div>

							<div class="tp-caption customin ltl tp-resizeme text_white"
								data-x="center"
								data-y="180"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1000"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3;">
								<span class="fw-300">LE TREMPLIN DES PROJETS URBAINS</span>
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="230"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="600"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: white; line-height: 1.2; width: 750px; max-width: 750px; white-space: normal; font-size:60px; font-weight:bold; text-align:center;">
								Welcome to Sehra.
							</div>

							<div class="tp-caption customin ltl tp-resizeme small_light_white"
								data-x="center"
								data-y="350"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1400"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
								Nous réintroduisons la vie dans les espaces abandonnés.<br/> Partout en France.
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="438"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3;">
								<%= link_to "VOIR LES PROJETS", events_path, class: "btn btn-default btn-lg" %>
							</div>

						</li>

						<!-- SLIDE -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off"  data-title="Slide">
							<img src="" data-lazyload="https://3.bp.blogspot.com/-9V43vQOL00g/Vk3Q73go31I/AAAAAAAA0so/1VG21WvVI-0/s1600/clayshed2JW%2B%25281%2529.jpg" alt="kenburns6" data-bgposition="left top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right bottom">
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption block_theme_color sfr tp-resizeme" 
								data-x="200"
								data-y="150"
								data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1500"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: #ffffff; font-size:20px; font-weight:300; text-shadow:none;">
								<span class="fw-300 font-lato">Développement Économique / Entrepreneuriat Social / Activisme Citoyen</span>
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="200"
								data-y="180"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="1700"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: #ffffff; line-height: 1.2; width: 650px; max-width:650px; white-space: normal; font-size:60px; font-weight:bold;">
								Créez les lieux d'échange de demain.                                
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

							<img src="" data-lazyload="https://d23sy9fe9womrt.cloudfront.net/8/32468_lg.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="right" data-hoffset="-100"
								data-y="center" data-voffset="-100"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="1700"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: white; line-height: 1.2; width: 750px; max-width: 750px; white-space: normal; font-size:60px; font-weight:bold; text-align:right;">
								Créer, ensemble.
							</div>

							<div class="tp-caption medium_light_white lfb ltt tp-resizeme"
								data-x="right" data-hoffset="-100"
								data-y="center" data-voffset="10"
								data-speed="600"
								data-start="900"
								data-easing="Power4.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="500"
								data-endeasing="Power4.easeIn">
								Des projets urbains au service de la communauté<br/>
								Lieux de travail, espaces de vie<br/>
								<span style="font-size:24px;font-weight:400;">Devenez porteur de projet</span>
							</div>

						</li>

					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</section>
			<!-- /REVOLUTION SLIDER -->



			<!-- CALLOUT -->
			<div class="alert alert-transparent bordered-bottom">
				<div class="container">

					<div class="row">

						<div class="col-md-9 col-sm-12"><!-- left text -->
							<h3>Vous êtes porteur d'un <span><strong>projet ?</strong></span> N'attendez pas.</h3>
							<p class="font-lato fw-300 fs-20 mb-0">
								Ceci est un texte marketing tout à fait convaincant.
							</p>
						</div><!-- /left text -->

						
						<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
							<% if user_signed_in? %>
								<%= link_to "PROPOSER UN PROJET", new_event_path, class: "btn btn-success btn-lg" %>
							<% else %>
								<%= link_to "SE CONNECTER", new_user_session_path, class: "btn btn-success btn-lg" %>
							<% end %>
						</div><!-- /right btn -->

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->

<div>

				<div id="portfolio" class="portfolio-nogutter">

					<div class="row mix-grid">

						<% @cities.each do |city| %>
						
							<div class="col-md-4 col-sm-4 mix Expositions Concerts Hackatons"><!-- item -->
									<div class="item-box-desc">
										<h3 style="text-align:center;">Quelques projets à <%= city.name %></h3>
										<ul class="list-inline categories m-0" style="text-align:center;">
											<li><a><%= city.description %></a></li>
										</ul>
									</div>   
							<div class="item-box">
								
									<figure>
										<span class="item-hover">
										</span>

										<!-- carousel -->
											
										<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
											<div>
											    <% if city.place.events.where(:active=>true).first.picture1.attached? %> 
													<%= image_tag(city.place.events.where(:active=>true).first.picture1, class: "img-fluid", width: "800", height: "553", alt: "") %> 
												<% else %>
													<%= image_tag(city.place.events.where(:active=>true).first.image1, class: "img-fluid", width: "800", height: "553", alt: "")%>
												<% end %>		
											</div>
											<div>
												<% if city.place.events.where(:active=>true).first.picture2.attached? %> 
													<%= image_tag(city.place.events.where(:active=>true).first.picture2, class: "img-fluid", width: "800", height: "553", alt: "") %> 
												<% else %>
													<%= image_tag(city.place.events.where(:active=>true).first.image2, class: "img-fluid", width: "800", height: "553", alt: "")%>
												<% end %>	
											</div>
											<div>
												<% if city.place.events.where(:active=>true).first.picture3.attached? %> 
													<%= image_tag(city.place.events.where(:active=>true).first.picture3, class: "img-fluid", width: "800", height: "553", alt: "") %> 
												<% else %>
													<%= image_tag(city.place.events.where(:active=>true).first.image3, class: "img-fluid", width: "800", height: "553", alt: "")%>
												<% end %>
											</div>
										</div>

										<!-- /carousel -->

									</figure>
 
								</div>

							</div><!-- /item -->
						
						<% end %>
                            
					</div>
					
				</div>
			</div>
			<!-- COLOR BOXES -->
			<section class="p-0 b-0">
				<!--
					.box-pink
					.box-blue
					.box-orange
					.box-yellow
					.box-purple
					.box-red
					.box-brown
					.box-green
					.box-black
					.box-gray
					.box-teal


				 
				CREATE YOUR OWN COLORS - CSS EXAMPLE:
					.box-pink>div:nth-child(1) {
						background-color:#e2476b;
					}
					.box-pink>div:nth-child(2) {
						background-color:#e9738f;
					}
					.box-pink>div:nth-child(3) {
						background-color:#f09fb2;
					}
					.box-pink>div:nth-child(4) {
						background-color:#f7cbd5;
					}

				-->
				<div class="row box-gradient box-gray">

					<div class="col-6 col-sm-3">
						<p>Villes</p>
						<h2 class="countTo font-raleway" data-speed="500"><%= City.count %></h2>
					</div>
				
					<div class="col-6 col-sm-3">
						<p>Projets</p>						
						<h2 class="countTo font-raleway" data-speed="500"><%= Event.count %></h2>
					</div>
					
					<div class="col-6 col-sm-3">
						<p>Utilisateurs</p>
						<h2 class="countTo font-raleway" data-speed="500"><%= User.count %></h2>
					</div>
					<div class="col-6 col-sm-3">
						<p>Votes</p>
						<h2 class="countTo font-raleway" data-speed="500"><%= Vote.count %></h2>
					</div>

				</div>
			</section>
			<!-- /COLOR BOXES -->

			<!-- 
	COOKIE ALERT 

		.alert-primary
		.alert-warning
		.alert-danger
		.alert-info
		.alert-position-bottom		= bottom position

		.cookie-reset 			= TEST ONLY: when you want to reset the cookie (NEVER USE ON PRODUCTION)
						  usage: add this class, refresh the page two times and then remove the class

		 data-expire="30"		= expiration in days
-->
<div id="cookie-alert" data-expire="30" class="alert alert-primary alert-position-bottom" style="background-color: #1ABC9C">
	<div class="container">

		<button type="button" class="close" data-dismiss="alert">
			<span class="cookie-close-btn" aria-hidden="true">×</span>
			<span class="sr-only">Close</span>
		</button>

		<p class="fs-13">
			<i class="fa fa-warning"></i> 

			En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour vous proposer une expérience personnalisée et pour réaliser des statistiques de visites. <br>Et parce que les cookies aux noix de macadamia c'est trop bon !
			<a href="#">Pour en savoir plus et paramétrer les cookies.</a>
		</p>

	</div>
</div>
<!-- /COOKIE ALERT -->
		</div>
		<!-- /wrapper -->
  
      <!-- REVOLUTION SLIDER -->


