
			<!-- REVOLUTION SLIDER -->
			<section id="slider" class="slider fullwidthbanner-container roundedcorners">

				<div class="fullscreenbanner" data-navigationStyle="">
					<ul class="hide">

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
							<%= image_tag('1x1.png') %>

							<div class="tp-dottedoverlay twoxtwo"><!-- dotted overlay --></div>
							<div class="overlay dark-3"><!-- dark overlay [1 to 9 opacity] --></div>

							<div class="tp-caption customin ltl tp-resizeme text_white"
								data-x="center"
								data-y="180"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1000"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								<span class="fw-300">LA VIE DANS LES ESPACES ABANDONNÉS</span>
							</div>

							<div class="tp-caption customin ltl tp-resizeme large_bold_white"
								data-x="center"
								data-y="230"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="600"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: white; line-height: 1.2; width: 750px; max-width: 750px; white-space: normal; font-size:70px; font-weight:bold; text-align:center;">
								SEHRA
							</div>

							<div class="tp-caption customin ltl tp-resizeme small_light_white"
								data-x="center"
								data-y="350"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1400"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center; font-size:18px;">
								La première plateforme des espaces communautaires éphémères.
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="438"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								<a href="#purchase" class="btn btn-default btn-lg">
									<span>Proposer un projet</span> 
								</a>
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

							<img src="assets/images/_smarty/1x1.png" data-lazyload="https://i.pinimg.com/originals/a0/1e/b5/a01eb52d88f4855203ac6ca67c254831.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="tp-caption mediumlarge_light_white lfb tp-resizeme" 
								data-x="left" data-hoffset="70"
								data-y="133" 
								data-speed="1000" 
								data-start="1400" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">+ Expositions, Concerts, Coworking, Hackatons, Food Fests, Street Art</span>
							</div>

							<div class="tp-caption mediumlarge_light_white lft tp-resizeme" 
								data-x="left" data-hoffset="70"
								data-y="85" 
								data-speed="1000" 
								data-start="1200" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">+ Redonner vie aux immeubles, friches et entrepôts abandonnés</span>
							</div>

							<div class="tp-caption block_black sfl tp-resizeme" 
								data-x="70" 
								data-y="216" 
								data-speed="750" 
								data-start="1900" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">Artistes, Entrepreneurs, Militants : Proposez un projet à la communauté</span>
							</div>

							<div class="tp-caption block_theme_color sfr tp-resizeme" 
								data-x="70" 
								data-y="260" 
								data-speed="750" 
								data-start="2200" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">
								<span class="fw-300 font-lato">Citoyens : Votez pour les meilleurs projets</span>
							</div>

						</li>

						<!-- SLIDE -->
						<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

							<img src="assets/images/_smarty/1x1.png" data-lazyload="demo_files/images/video/back.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption tp-fade fadeout fullscreenvideo"
								data-x="0"
								data-y="0"
								data-speed="1000"
								data-start="1100"
								data-easing="Power4.easeOut"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1500"
								data-endeasing="Power4.easeIn"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false"
								data-nextslideatend="true"
								data-volume="mute" 
								data-forceCover="1" 
								data-aspectratio="16:9" 
								data-forcerewind="on" style="z-index: 2;">

								<div class="tp-dottedoverlay twoxtwo"><!-- dotted overlay --></div>

								<video class="" preload="none" width="100%" height="100%" poster="demo_files/images/video/back.jpg">
									<source src="http://podsync.net/download/h4zsQOwYt/xqcHGZWNxPQ.mp4" type="video/webm" />
									<source src="http://podsync.net/download/h4zsQOwYt/xqcHGZWNxPQ.mp4" type="video/mp4" />
								</video>

							</div>

							<div class="tp-caption customin ltl tp-resizeme text_white"
								data-x="center"
								data-y="180"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1000"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3;">
								<span class="fw-300">LE TREMPLIN DES PROJETS URBAINS</span>
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="230"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="600"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: white; line-height: 1.2; width: 750px; max-width: 750px; white-space: normal; font-size:60px; font-weight:bold; text-align:center;">
								Welcome to Sehra.
							</div>

							<div class="tp-caption customin ltl tp-resizeme small_light_white"
								data-x="center"
								data-y="350"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1400"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
								Nous réintroduisons la vie dans les espaces abandonnés.<br/> Partout en France.
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="438"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3;">
								<a href="#purchase" class="btn btn-default btn-lg">
									<span>Voir les projets</span> 
								</a>
							</div>

						</li>

						<!-- SLIDE -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="off"  data-title="Slide">
							<img src="assets/images/_smarty/1x1.png" data-lazyload="https://3.bp.blogspot.com/-9V43vQOL00g/Vk3Q73go31I/AAAAAAAA0so/1VG21WvVI-0/s1600/clayshed2JW%2B%25281%2529.jpg" alt="kenburns6" data-bgposition="left top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right bottom">
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption block_theme_color sfr tp-resizeme" 
								data-x="200"
								data-y="150"
								data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1500"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: #212121; font-size:20px; font-weight:300; text-shadow:none;">
								<span class="fw-300 font-lato">Développement Économique / Entrepreneuriat Social / Activisme Citoyen</span>
							</div>

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="200"
								data-y="180"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="1700"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: #666; line-height: 1.2; width: 650px; max-width:650px; white-space: normal; font-size:60px; font-weight:bold;">
								Créez les lieux d'échange de demain.                                
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

							<img src="assets/images/_smarty/1x1.png" data-lazyload="https://d23sy9fe9womrt.cloudfront.net/8/32468_lg.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="right" data-hoffset="-100"
								data-y="center" data-voffset="-100"
								data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
								data-speed="600"
								data-start="1700"
								data-easing="easeOutCubic"
								data-splitin="chars"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; color: white; line-height: 1.2; width: 750px; max-width: 750px; white-space: normal; font-size:60px; font-weight:bold; text-align:right;">
								Créer, ensemble.
							</div>

							<div class="tp-caption medium_light_white lfb ltt tp-resizeme"
								data-x="right" data-hoffset="-100"
								data-y="center" data-voffset="10"
								data-speed="600"
								data-start="900"
								data-easing="Power4.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="500"
								data-endeasing="Power4.easeIn">
								Des projets urbains au service de la communauté<br/>
								Lieux de travail, espaces de vie<br/>
								<span style="font-size:24px;font-weight:400;">Devenez porteur de projet</span>
							</div>

						</li>

					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</section>
			<!-- /REVOLUTION SLIDER -->



			<!-- CALLOUT -->
			<div class="alert alert-transparent bordered-bottom">
				<div class="container">

					<div class="row">

						<div class="col-md-9 col-sm-12"><!-- left text -->
							<h3>Vous êtes porteur d'un <span><strong>projet ?</strong></span> N'attendez pas.</h3>
							<p class="font-lato fw-300 fs-20 mb-0">
								Ceci est un texte marketing tout à fait convaincant.
							</p>
						</div><!-- /left text -->

						
						<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
							<a href="#purchase" rel="nofollow" target="_blank" class="btn btn-primary btn-lg">Contactez-nous</a>
						</div><!-- /right btn -->

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->

<section>
				<div class="container">

					<ul class="nav nav-pills mix-filter mb-60">
						<li data-filter="all" class="filter active"><a href="#">All</a></li>
						<li data-filter="Hackatons" class="filter"><a href="#">Hackatons</a></li>
						<li data-filter="Food Fests" class="filter"><a href="#">Food Fests</a></li>
						<li data-filter="Expositions" class="filter"><a href="#">Expositions</a></li>
                        <li data-filter="Concerts" class="filter"><a href="#">Concerts</a></li>
                        <li data-filter="Street Art" class="filter"><a href="#">Street Art</a></li>
                        <li data-filter="Coworking" class="filter"><a href="#">Coworking</a></li>
					</ul>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-4 col-sm-4 mix Expositions Concerts Hackatons"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/mockups/1200x800/8-min.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="portfolio-single-slider.html">
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<!-- carousel -->
											

										<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
											<div>
												<img class="img-fluid" src="https://www.laboratoireterritorial.fr/wp-content/uploads/2016/11/industrial-1765362_1920.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.urbanpresents.net/wp-content/uploads/2016/01/graffiti-urbex-halle-guterbahnhof-nov-2015-07492.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.tuxboard.com/photos/2015/10/Vince-J-Urbex-ecole.jpg" width="800" height="553" alt="">
											</div>
										</div>


										<!-- /carousel -->

									</figure>

									<div class="item-box-desc">
										<h3 style="text-align:center;">PARIS</h3>
										<ul class="list-inline categories m-0" style="text-align:center;">
											<li><a href="#">Expositions</a></li>
											<li><a href="#">Concerts</a></li>
                                            <li><a href="#">Hackatons</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-4 col-sm-4 mix Food Fests Street Art Food Fests"><!-- item -->

								<div class="item-box">
										<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
											<div>
												<img class="img-fluid" src="https://www.tuxboard.com/photos/2015/10/Vince-J-Urbex-ecole.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://i1.wp.com/portdattache.bzh/wp-content/uploads/2017/04/grand-hall-urbex.jpg?ssl=1" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.laboratoireterritorial.fr/wp-content/uploads/2016/11/industrial-1765362_1920.jpg" width="800" height="553" alt="">
											</div>
										</div>

									<div class="item-box-desc">
										<h3 style="text-align:center;">MARSEILLE</h3>
										<ul class="list-inline categories m-0" style="text-align:center;">
											<li><a href="#">Street Art</a></li>
											<li><a href="#">Food Fests</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-4 col-sm-4 mix Coworking Street Art"><!-- item -->

								<div class="item-box">
										<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
											<div>
												<img class="img-fluid" src="https://parallaxpictures.fr/wp-content/uploads/2016/10/Drone-Urbex-Vichy.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.laboratoireterritorial.fr/wp-content/uploads/2016/11/industrial-1765362_1920.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="http://www.voyageurs-du-net.com/wp-content/uploads/2014/09/exploration-urbaine-dark-tourism-darmon-richter-house-monument-of-the-bulgarian-communist-party.jpg" width="800" height="553" alt="">
											</div>
										</div>

									<div class="item-box-desc">
										<h3 style="text-align:center;">TOULOUSE</h3>
										<ul class="list-inline categories m-0" style="text-align:center;">
											<li><a href="#">Coworking</a></li>
											<li><a href="#">Street Art</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->
                            
                            <div class="col-md-4 col-sm-4 mix Expositions Street Art"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="demo_files/images/mockups/1200x800/8-min.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												<a class="ico-rounded" href="portfolio-single-slider.html">
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<!-- carousel -->
										<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
											<div>
												<img class="img-fluid" src="https://www.laboratoireterritorial.fr/wp-content/uploads/2016/11/industrial-1765362_1920.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.urbanpresents.net/wp-content/uploads/2016/01/graffiti-urbex-halle-guterbahnhof-nov-2015-07492.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.tuxboard.com/photos/2015/10/Vince-J-Urbex-ecole.jpg" width="800" height="553" alt="">
											</div>
										</div>
										<!-- /carousel -->

									</figure>   

									<div class="item-box-desc">
										<h3 style="text-align:center;">NICE</h3>
										<ul class="list-inline categories m-0" style="text-align:center;">
											<li><a href="#">Expositions</a></li>
											<li><a href="#">Street Art</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-4 col-sm-4 mix Food Fests Concerts"><!-- item -->

								<div class="item-box">
										<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
											<div>
												<img class="img-fluid" src="https://www.tuxboard.com/photos/2015/10/Vince-J-Urbex-ecole.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://i1.wp.com/portdattache.bzh/wp-content/uploads/2017/04/grand-hall-urbex.jpg?ssl=1" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.laboratoireterritorial.fr/wp-content/uploads/2016/11/industrial-1765362_1920.jpg" width="800" height="553" alt="">
											</div>
										</div>

									<div class="item-box-desc">
										<h3 style="text-align:center;">LYON</h3>
										<ul class="list-inline categories m-0" style="text-align:center;">
											<li><a href="#">Food Fests</a></li>
											<li><a href="#">Concerts</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-4 col-sm-4 mix Hackatons Street Art"><!-- item -->

								<div class="item-box">
										<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
											<div>
												<img class="img-fluid" src="https://parallaxpictures.fr/wp-content/uploads/2016/10/Drone-Urbex-Vichy.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="https://www.laboratoireterritorial.fr/wp-content/uploads/2016/11/industrial-1765362_1920.jpg" width="800" height="553" alt="">
											</div>
											<div>
												<img class="img-fluid" src="http://www.voyageurs-du-net.com/wp-content/uploads/2014/09/exploration-urbaine-dark-tourism-darmon-richter-house-monument-of-the-bulgarian-communist-party.jpg" width="800" height="553" alt="">
											</div>
										</div>

									<div class="item-box-desc">
										<h3 style="text-align:center;">BORDEAUX</h3>
										<ul class="list-inline categories m-0" style="text-align:center;">
											<li><a href="#">Hackatons</a></li>
											<li><a href="#">Street Art</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

						</div>
				</div>
			</section>




			<!-- -->
			<section>
				<div class="container">
					<div class="row">
					
						<div class="col-md-4">
							
							<div class="heading-title heading-border-bottom heading-color">
								<h3>Passion</h3>
							</div>
							
							<p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>
							
							<a href="#">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

						<div class="col-md-4">
							<div class="heading-title heading-border-bottom heading-color">
								<h3>Precision</h3>
							</div>
							<p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

							<a href="#">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

						<div class="col-md-4">
							<div class="heading-title heading-border-bottom heading-color">
								<h3>Simplicity</h3>
							</div>
							<p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

							<a href="#">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

					</div>
					<div class="divider double-line mt-80 mb-80"><!-- divider --></div>

				</div>
			</section>
			<!-- / -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
 	
<!-- 
********************* DECOMMENTER CECI SI PROBLEMES AVEC LE JQUERY *********************************

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 

**************************************************************************************************** 
 -->
		<!-- REVOLUTION SLIDER -->
		<%= javascript_include_tag 'plugins/slider.revolution/js/jquery.themepunch.tools.min' %>
		<%= javascript_include_tag 'plugins/slider.revolution/js/jquery.themepunch.revolution.min' %>
		<%= javascript_include_tag 'js/view/demo.revolution_slider' %>

		<!-- SCRIPTS -->
		
		<%= javascript_include_tag 'js/scripts' %>
	</body>
</html>

<!--


<% @cities.each do |city| %>

    <%= link_to city_path(id: city) do %>
        <%= city.name %>
        <br>
    <% end %>
            Events: 
            <br>
            <% city.place.events.where(:active=>true).each do |event| %>
                <%= link_to event_path(id: event) do %>

                    <% if event.picture1.attached? %> 
                        <%= image_tag(event.picture1, size: "50") %> 
                    <% else %>
                        <%= image_tag(event.image1, size: "50") %>
                    <% end %>

                <% end %>
            <% end %>
        <br><br><br>

<% end %>
-->