<div>
    <div id="portfolio" class="clearfix fullwidth portfolio-nogutter portfolio-isotope portfolio-isotope-3">
        <% @events.where(:active => true).order(:votes_count).reverse_order.each do |event| %>    
            <div class="portfolio-item"><!-- item -->
                <div class="item-box">
                    <figure>
                        <%= link_to event_path(id: event) do %>

                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                            <span class="inner">   
                            <%= event.name.upcase %>
                            <br>
                            <br>
                                <!-- lightbox -->
                            <span style="font-size: 50px"> 
                                   ❤ <%= event.votes_count %>
                                </a>
                            </span>    
                            </span>
                        </span>
                            <% if event.picture1.attached? %> 
                                <%= image_tag(event.picture1, size: "450", class: "img-fluid") %> 
                            <% else %>
                                <%= image_tag(event.image1, size: "450", class: "img-fluid")%>
                            <% end %>            
                    </figure>
                    <%end %>
                </div>
            </div><!-- /item -->
        <% end %>
    </div>

</div>