<%= @event.name %>
<br>
<%= @event.description %>
<br>
<%= image_tag(@event.image1, size: "300") %>
<% if @event.image2? %>
<%= image_tag(@event.image2, size: "300") %>
<% end %>
<% if @event.image3? %>
<%= image_tag(@event.image3, size: "300") %>
<% end %>
<br>
<%= @place_of_event.name %>
<br>
<%= image_tag(@place_of_event.image_url, size: "100") %>
<br>
<% if user_signed_in? %>
    <%= div_for @event do %>
        <%= render partial: "votes/button", locals: { event: @event } %>
    <% end %>
    <% else %>
        Number of votes:
        <%= render partial: "votes/count" %>
<% end %>

<% if user_signed_in? %>
    <p>Localisation of the event: </p>

        <div id="map"></div>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.googlejs_api %>&callback=initMap"></script>

        <script>
    function initMap() {
    // Localisation test pour paris
    var paris = {lat: <%= Place.find(@event.place_id).latitude %> , lng: <%= Place.find(@event.place_id).longitude %> };
    // la map est centrée sur paris
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 15, center: paris});
    // le marker est positionné sur paris
    var marker = new google.maps.Marker({position: paris, map: map});
    }
        </script>

<% else %>
    <br><br>    
    Please Login to see localisation of the event.
<% end %>
