      <section>
        <div class="container">
          
          <div class="row">

            <div class="col-md-6 offset-md-3">

              <!-- ALERT
              <div class="alert alert-mini alert-danger mb-30">
                <strong>Oh snap!</strong> Login Incorrect!
              </div> /ALERT -->

              <div class="box-static box-border-top p-30">
                <div class="box-title mb-30">
                  <h2 class="fs-20">Page de connexion</h2>
                </div>

                <form class="m-0" method="post" action="#" autocomplete="off">
                  <div class="clearfix">
                    
                    <!-- Email -->
                    <div class="form-group">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="field">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sehra@mail.com", class:"form-control form-control-lg" %>
                        </div>

                    </div>
                    
                    <!-- Password -->
                    <div class="form-group">
                        <div class="field">
                      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe", class:"form-control form-control-lg" %>
                        </div>

                    </div>
                        <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me, class: "btn btn-primary" %>
                      <%= f.label :se_souvenir_de_moi %>
                    </div>
                    <% end -%>
                  </div>
                  
                  <div class="row">
                    
                    <div class="col-md-6 col-sm-6 col-6">
                      
                      <!-- Inform Tip -->                                        
                      <div class="form-tip pt-20">
                        <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %>
                      </div>
                      
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-6 text-right">
                      <div class="actions">
                        <%= f.submit "Se Connecter", class: "btn btn-success btn-lg" %>
                      </div>
                    <% end %>
                      

                    </div>
                    
                  </div>
                  
                </form>

              </div>
              
              <div class="mt-30 text-center">
                Vous n'avez pas de compte chez <span style="color: #1ABC9C"><strong>Sehra ?</strong></span>
                <br><br>
                <%= button_to "Créer un compte", new_registration_path(resource_name), class: "btn btn-success btn-sm" %>

              </div>

            </div>
          </div>
          
        </div>
      </section>



