<h1>Cities#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>

    <%= @city.name %>
    <br>
    <%= @city.description %>
    <br>
    <%= image_tag(@city.image_url, size: "300") %>
    <br>

        Place:
        <br>
        <%= @city.place.name %>
        <br>
        <%= image_tag(@city.place.image_url, size: "200") %>
        <br>

            Events: 
            <% @city.place.events.each do |event| %>
                <%= link_to events_show_path(id: event) do %>
                    <br>
                    <%= image_tag(event.image1, size: "50") %>
                    <br>
                <% end %>
            <% end %>

