			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark		= dark page header
					.light		= light page header
			-->
			<section class="page-header page-header-md b-0 dark" 
				data-background="<%= image_path(@city.place.image_url) %>">

				<span class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></span>
				<div class="container">

					<p class="fs-10">Bienvenue à la friche de<p>
					<p class="fs-60"><strong><%= @city.name %></strong><p>
                    <p class="fs-25">"<%= @city.place.name %>"<p>
                    <p class="fs-25">Ceci est une friche. Une très belle friche. Elle est tellement belle que j'en ai de la chair de poule. Oualala elle est vraiment magnifique.<p>
                    
                    <% if user_signed_in? %>
                    <p class="fs-20"> Adresse: <%= @city.place.address %><p>
                        
                            <div id="pin">        
                                <br><br>                        
                                <small>📍 Localisation<small>
                                <%= image_tag("pin.png", size: "100", class: "rounded mx-auto d-block") %>
                            </div>
                        
                        <div id="map" style="margin: 0 auto"></div>
                        
                    <% else %>
                    <p class="fs-30">Connectez-vous pour avoir accès à plus d'informations sur le lieu ❤️<p>
                    <% end %>
				</div>
			</section>
			<!-- /PAGE HEADER -->






            <!-- -->

                            <div class="divider divider-center divider-black"><!-- divider -->
                                <i class="fa fa-chevron-down"></i>
                            </div>
        <div class="row">
            <% @city.place.events.where(:active => true).each do |event| %>
                <div class="col-md-4">
                    <div class="text-center">
                        <%= link_to event_path(id: event) do %>

                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                            <span class="inner">   
                            <%= event.name.upcase %>
                            <br>
                            <br>
                                <!-- lightbox -->
                            <span style="font-size: 50px"> 
                                ❤️ <%= event.votes_count %>
                                </a>
                            </span>    
                            </span>
                        </span>
                            <% if event.picture1.attached? %> 
                                <%= image_tag(event.picture1, size: "450", class: "img-fluid") %> 
                            <% else %>
                                <%= image_tag(event.image1, size: "450", class: "img-fluid")%>
                            <% end %>            
                    </figure>
                    <%end %>
                </div>
            </div><!-- /item -->
        <% end %>
    </div>


</div>





<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.googlejs_api %>&callback=initMap"></script>

    <script>
function initMap() {
// Localisation test pour paris
var paris = {lat: <%= @city.place.latitude %> , lng: <%= @city.place.longitude %> };
// la map est centrée sur paris
var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 15, center: paris});
// le marker est positionné sur paris
var marker = new google.maps.Marker({position: paris, map: map});
}
    </script>




