			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark		= dark page header
					.light		= light page header
			-->
			<section class="page-header page-header-md b-0 dark" 
				data-background="<%= image_path(@city.place.image_url) %>">

				<span class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></span>
				<div class="container">

					<p class="fs-20">Bienvenue à la friche et aux projets de:<p>
					<p class="fs-60"><strong><%= @city.name %></strong><p>
                    <p class="fs-25">"<%= @city.place.name %>"<p>
                    <p class="fs-25">Ceci est une friche. Une très belle friche. Elle est tellement belle que j'en ai de la chair de poule. Oualala elle est vraiment magnifique.<p>
                    
                    <% if user_signed_in? %>
                    <p class="fs-20"> Adresse: <%= @city.place.address %><p>
                        
                            <div id="pin">        
                                <br><br>                        
                                <small>📍 Localisation<small>
                                <%= image_tag("pin.png", size: "100", class: "rounded mx-auto d-block") %>
                            </div>
                        
                        <div id="map" style="margin: 0 auto"></div>
                        
                    <% else %>
                    <p class="fs-30" style="text-align: center">Connectez-vous pour avoir accès à plus d'informations sur le lieu ❤️<p>
                    <% end %>
				</div>
			</section>
			<!-- /PAGE HEADER -->


            <!-- -->


</div>

<div class="container">
<div class="row category-grid">
            <% @city.place.events.where(:active => true).reverse_order.each do |event| %>    

                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="card">
                            <%= link_to event_path(id: event) do %>
                            <% if event.picture1.attached? %> 
                                <%= image_tag(event.picture1, class: "card-img-top") %> 
                            <% else %>
                                <%= image_tag(event.image1, class: "card-img-top")%>
                            <% end %>     
                            <% end %>       
                                <div class="card-block">
                                    <p class="text-black fs-20 mb-20 block"><%= event.name %></p>
                                    <p class="text-black fs-20 mb-20 block"><%= event.votes.count %> votes ❤️</p>
                                    <p class="fs-15 mb-20"><%= event.description %></p>
                                    <%= link_to "VIEW PROJECT", event_path(id: event), class: "text-muted fs-15" %>
                                </div>
                            </div>
                        </div>
                        <% end %>
</div>
</div>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.googlejs_api %>&callback=initMap"></script>

    <script>
function initMap() {
// Localisation test pour paris
var paris = {lat: <%= @city.place.latitude %> , lng: <%= @city.place.longitude %> };
// la map est centrée sur paris
var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 15, center: paris});
// le marker est positionné sur paris
var marker = new google.maps.Marker({position: paris, map: map});
}
    </script>




