<h1>Cities#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>

    <%= @city.name %>
    <br>
    <%= @city.description %>
    <br>
    <%= image_tag(@city.image_url, size: "300") %>
    <br>

        Place:
        <br>
        <%= @city.place.name %>
        <br>
        <%= image_tag(@city.place.image_url, size: "200") %>
        <br>

            Events: 
            <% @city.place.events.each do |event| %>
                <%= link_to events_show_path(id: event) do %>
                    <br>
                    <%= image_tag(event.image1, size: "50") %>
                    <br>
                <% end %>
            <% end %>

<p>Test de l'API Google Map</p>
<head>
    <style> 
      #map {
        height: 400px; 
        width: 100%; 
       }
    </style>
  </head>

<body>
    <div id="map"></div>
    <script>

function initMap() {
  // Localisation test pour paris
  var paris = {lat: 48.8763009, lng: 2.325402};
  // la map est centrée sur paris
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: paris});
  // le marker est positionné sur paris
  var marker = new google.maps.Marker({position: paris, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-_nDQXE5tAvYxs8DbGT28RjdF2DMb67I
&callback=initMap">
    </script>
</div>
</body>
