<% if current_user.vote?(@event) %>
  <%= button_to "ANNULER", unvote_path(event_id: @event.id), remote: true, method: :delete, class:"btn btn-primary"%>
<% else %>
  <%= button_to "VOTER", vote_path(event_id: @event.id), remote: true, class:"btn btn-primary"%>
<% end %>

<label><%= @event.votes.count %> VOTES !</label>
    <div class="progress progress-xxs">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @event.votes.count %>" aria-valuemin="0" aria-valuemax="500" style="width: <%= @event.votes.count %>px; min-width: 1em;"></div>
    </div>
</div>