<!DOCTYPE html>
<html>
  <head>
    <title>SEHRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
    
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/_smarty/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/_smarty/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/_smarty/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/_smarty/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/_smarty/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/_smarty/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/_smarty/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/_smarty/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/_smarty/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/_smarty/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/_smarty/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/_smarty/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/_smarty/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/_smarty/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
  </head>

  <body>
<!--

<ul>

<% if user_signed_in? && current_user.admin? %>
<li> Vous êtes le KING du site! </li>
<li> <%= link_to "Home", root_path %> </li>
<li> <%= link_to "Cities", cities_path %> </li>
<li> <%= link_to "Events", events_path %> </li>
<li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
<li> <%= link_to "Admin Dashboard", rails_admin_path %> </li>

<% elsif user_signed_in? %>
<li> Vous êtes bien connecté en tant que <%= current_user.first_name %>. </li>
<li> Vous avez voté pour <%= current_user.votes.count %> projets. </li>
<li> <%= link_to "Home", root_path %> </li>
<li> <%= link_to "Cities", cities_path %> </li>
<li> <%= link_to "Events", events_path %> </li>
<li> <%= link_to "Proposer un Projet", new_event_path %> </li>
<li> <%= link_to "Edit Account", edit_user_registration_path %> </li>
<li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>

<% else %>
<li> <%= link_to "Home", root_path %> </li>
<li> <%= link_to "Cities", cities_path %> </li>
<li> <%= link_to "Events", events_path %> </li>
<li> <%= link_to "Log in", new_user_session_path %> </li>
<li> <%= link_to "Sign up", new_user_registration_path %> </li>

<% end %> 
</ul>

-->

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
     

  </body>

  <footer>
  
  </footer>
</html>
