<!DOCTYPE html>
<html>
  <head>
    <title>Kankers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

  </head>

  <body>


<ul>

<% if user_signed_in? && current_user.admin? %>
<li> Vous êtes le KING du site! </li>
<li> <%= link_to "Home", root_path %> </li>
<li> <%= link_to "Cities", cities_index_path %> </li>
<li> <%= link_to "Events", events_index_path %> </li>
<li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
<li> <%= link_to "Admin Dashboard", rails_admin_path %> </li>

<% elsif user_signed_in? %>
<li> Vous êtes bien connecté en tant que <%= current_user.first_name %>. </li>
<li> <%= link_to "Home", root_path %> </li>
<li> <%= link_to "Cities", cities_index_path %> </li>
<li> <%= link_to "Events", events_index_path %> </li>
<li> <%= link_to "Proposer un Projet", events_new_path %> </li>
<li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>

<% else %>
<li> <%= link_to "Home", root_path %> </li>
<li> <%= link_to "Cities", cities_index_path %> </li>
<li> <%= link_to "Events", events_index_path %> </li>
<li> <%= link_to "Log in", new_user_session_path %> </li>
<li> <%= link_to "Sign up", new_user_registration_path %> </li>

<% end %> 
</ul>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

  </body>

  <footer>
  
  </footer>
</html>
